.alert-submit {
	display: none;
	margin-left: 10px;
	color: red;
}

#sessionTableContainer, #defaultContent, #sessionChartContainer {
	display: none;
}

#sessionChartContainer {
	text-align: center;	
}

#sessionChartContainer form {
	width: 30%;
	margin: 0 auto;
}